[user]
	name = Edwin Vane
	email = revane@google.com
[core]
	editor = vim
[color]
	ui = auto

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "vim"]
  cmd = vimdiff "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" --auto-merge
[http]
	cookiefile = /home/revane/.gitcookies
