[user]
	name = Edwin Vane
	email = revane@google.com
[core]
	editor = vim
[color]
	ui = auto

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "vim"]
  cmd = vimdiff "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" --auto-merge
[http]
	cookiefile = ~/.gitcookies
[url "persistent-https://moohan-private-review.git.corp.google.com/"]
	insteadOf = https://moohan-private-review.googlesource.com/
[url "persistent-https://moohan-private.git.corp.google.com/"]
	insteadOf = https://moohan-private.googlesource.com/
[repo]
	superprojectChoiceExpire = 1709754282
	superprojectChoice = true
