global !p
from my_snippet_helpers import *
endglobal

post_jump "clip_start(snip, 80)"
snippet fold
# [[[ $1 ----------------------------------------------------------------------

${VISUAL}

# ]]] --------------------------------------------------------------------------
endsnippet
